table {
  width: 30%;
  margin: auto;
  margin-top: 30px;
  float: left;

}



button {

  margin: 5px;
}

.btn btn-primary btn-lg btn-block {
  font-style: oblique;
}


body {

  font-family: 'Montserrat', sans-serif;

  font: 22px 'Montserrat';
  font-family: 'Montserrat', sans-serif;

}

.wrapper {
  margin: 20px
}

#days {

  padding: 10px;
  flex-wrap: wrap;
}

caption {


  caption-side: "top";
}